In [2]:
from pandas import json_normalize
import pandas as pd
from datetime import datetime, timedelta
from urllib.request import urlopen
import json

In [3]:
json_file = urlopen("https://data.ny.gov/resource/hsys-3def.json").read()
json_data = json.loads(json_file)
json_dataN = json_normalize(json_data)
json_dataN['date'] = pd.to_datetime(json_dataN['draw_date'])
json_dataN = json_dataN[json_dataN['date'] >= (datetime.today() - timedelta(days=90)).strftime('%Y-%m-%d')]
json_dataN.head()

,draw_date,midday_daily,evening_daily,midday_win_4,evening_win_4,date
0,2022-03-10T00:00:00.000,069,391,2850,3805,2022-03-10
1,2022-03-09T00:00:00.000,893,966,2266,1856,2022-03-09
2,2022-03-08T00:00:00.000,902,088,5047,4534,2022-03-08
3,2022-03-07T00:00:00.000,397,583,4088,4900,2022-03-07
4,2022-03-06T00:00:00.000,087,557,6100,0521,2022-03-06

In [4]:
json_dataN_numbers = pd.DataFrame(pd.concat([json_dataN['midday_daily'],json_dataN['evening_daily']]))
json_dataN_numbers.columns = ['numbers']
json_dataN_numbers['numbers1'] = json_dataN_numbers['numbers'].astype(str).str[0]
json_dataN_numbers['numbers2'] = json_dataN_numbers['numbers'].astype(str).str[1]
json_dataN_numbers['numbers3'] = json_dataN_numbers['numbers'].astype(str).str[2]
pd.concat([json_dataN_numbers['numbers1'],json_dataN_numbers['numbers2'],json_dataN_numbers['numbers3']]).value_counts()

7    63
9    60
0    58
4    58
1    57
8    51
5    51
6    49
2    46
3    41
dtype: int64

In [5]:
json_dataN_win4 = pd.DataFrame(pd.concat([json_dataN['midday_win_4'],json_dataN['evening_win_4']]))
json_dataN_win4.columns = ['4numbers']
json_dataN_win4['4numbers1'] = json_dataN_win4['4numbers'].astype(str).str[0]
json_dataN_win4['4numbers2'] = json_dataN_win4['4numbers'].astype(str).str[1]
json_dataN_win4['4numbers3'] = json_dataN_win4['4numbers'].astype(str).str[2]
json_dataN_win4['4numbers4'] = json_dataN_win4['4numbers'].astype(str).str[3]
pd.concat([json_dataN_win4['4numbers1'],json_dataN_win4['4numbers2'],json_dataN_win4['4numbers3'],json_dataN_win4['4numbers4']]).value_counts()

8    86
0    82
5    77
6    69
9    68
3    68
4    67
2    66
7    66
1    63
dtype: int64